.desktop-border-radius {
    border-radius: 0 8px 8px 0;
  }

  .desktop-border-radius2 {
    border-radius: 8px 0 0 8px;;
  }
  
  .mobile-border-radius {
    border-radius: 8px 0 0 8px;
  }

  .mobile-border-radius2 {
    border-radius: 8px 0 0 8px;
  }
  
  @media (max-width: 768px) {
    .desktop-border-radius {
      border-radius: 0 8px 8px 0;
    }

    .desktop-border-radius2 {
        border-radius: 8px 0 0 8px;
      }
    
    .mobile-border-radius {
      border-radius: 0 8px 8px 0;
    }

    .mobile-border-radius2 {
        border-radius: 0 8px 8px 0;
      }
  }
  